@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #fff;
}

@media print {
  .no-print { display: none !important; }
  .print-break { page-break-before: always; }
  body { background: #fff; }
}
